<?xml version="1.0" encoding="utf-8"?>
<packages>
  <package id="Callisto" version="1.2.3" targetFramework="winrt45" />
  <package id="ColourPicker" version="0.0.5-ALPHA" targetFramework="winrt45" />
  <package id="MarkedUp" version="0.5.5" targetFramework="winrt45" />
  <package id="Microsoft.Composition" version="1.0.15" targetFramework="winrt45" />
  <package id="Okra.Core" version="0.9.4" targetFramework="winrt45" />
  <package id="Okra.MEF" version="0.9.4" targetFramework="winrt45" />
  <package id="WriteableBitmapEx" version="1.0.3.0" targetFramework="winrt45" />
</packages>