<?xml version="1.0" encoding="utf-8"?>
<packages>
  <package id="Callisto" version="1.2.3" targetFramework="winrt45" />
  <package id="ColourPicker" version="0.0.3-ALPHA" targetFramework="winrt45" />
  <package id="Microsoft.Composition" version="1.0.15" targetFramework="winrt45" />
  <package id="Okra.Core" version="0.9.4" targetFramework="winrt45" />
  <package id="Okra.MEF" version="0.9.4" targetFramework="winrt45" />
  <package id="SharpDX" version="2.3.1" targetFramework="winrt45" />
  <package id="SharpDX.D3DCompiler" version="2.3.1" targetFramework="winrt45" />
  <package id="SharpDX.Direct2D1" version="2.3.1" targetFramework="winrt45" />
  <package id="SharpDX.Direct3D11" version="2.3.1" targetFramework="winrt45" />
  <package id="SharpDX.DXGI" version="2.3.1" targetFramework="winrt45" />
</packages>